* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
  background-color: #0e1016;
  height: 120vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 40px 0;
  gap: 20px;
}


.form-container {
  height: 100vh;
  overflow-y: auto; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

form {
  background-color: #dd2acb;
  padding: 30px 40px;
  width: 350px;
  border-radius: 20px;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  overflow-y: auto;
  max-height: 90vh;  
  position: relative;
}

.input-set {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  margin-bottom: -2px;
}

input ,textarea{
  padding: 10px 30px;
  font-size: 17px;
  text-transform: capitalize;
  border-radius: 8px;
  border: none;
  outline: none;
}

.header{
    background-color: #dd2acb;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.education{
   padding: 15px 0px;
   border-bottom: 3px solid black;
}


.cv-format {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 30px;
  width: 650px;
  height: 90vh; 
  overflow-y: auto;
  text-transform: capitalize;
  text-align: center;
}

.experience{
    padding: 20px 0px;
    border-bottom: 3px solid black;
}

.skill{
    padding: 30px 0px;
}

.des{
    padding-top: 20px;
    gap: 5px;
}

button{
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: #0e1016;
    color: white;
    position: absolute;
    top: 220%;
    margin-bottom: 10px;
    left: 100px;
}
